
.form-control {
  width: 30%;
  height: 90%;
  border: solid ;
  border-radius: 10px;
}

.action-button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background: whitesmoke;
}

/* min-width & max-width */
@media screen and (min-width: 600px) {
  .mat-mdc-card-title-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
  }

  .mat-mdc-card-content:last-child {
    padding-bottom: 16px;
    display: flex;
    max-width: 200px;
    flex-direction: column;
  }

  .book-card {
    float: left;
    width: 240px;
    height: 320px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
  }

  .action-button-container {
    display: flex;
    justify-content: flex-end;
  }
  .action-button-container .action-button{
    padding: 5px;
  }
}
