
mat-card{
  margin: 10px;
  margin-left: 20%;
  margin-right: 20%;
}

mat-toolbar{

  padding: 10px;
}


input{
  border-bottom: solid black 1px;

}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px;
  width: 100%;
}
