/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "@angular/material/theming";
@include mat-core();

$my-app-primary: mat-palette($mat-purple, 300, 500, 700);
$my-app-accent: mat-palette($mat-green, 300, 500, 700);

$my-app-warn: mat-palette($mat-red, 700);

$my-theme: mat-define-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-theme);

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}
body{
  background: rgb(197, 196, 196);
}
